body {
  background-color: #f8f8f6;
  font-family: 'Cocogoose Pro Light';
}

@font-face {
  font-family: 'Cocogoose Pro Light';
  src: local('MyFont'), url(./fonts/Cocogoose-Pro-Light-trial.ttf) format('truetype');
}

@font-face {
  font-family: 'Cocogoose Pro Semilight';
  src: local('MyFont'), url(./fonts/Cocogoose-Pro-Semilight-trial.ttf) format('truetype');
}

@font-face {
  font-family: 'Cocogoose Pro Darkmode';
  src: local('MyFont'), url(./fonts/Cocogoose-Pro-Darkmode-trial.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  min-height: 100vh;
}

.icon-svg {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  vertical-align: middle;
  fill: currentColor;
  display: inline-block;
  transition: transform 0.2s ease;
}